{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<section style="display:flex;">
		<div style="margin-left:150px; margin-top:150px;">
			<h1 style="color:#FCFE75;">
				<strong>Bienvenue sur Last Chance</strong>
			</h1>
			<p>
				<strong>
					Trouvez en un clic les objets à récupérer près de chez vous</strong>
			</p>
			<p style="color:#F55B2E;">
				<strong>
					Connectez-vous pour avoir accès à toutes les fonctionnalités du site !
				</strong>
			</p>


		</div>

		<div class="pic-ctn">

			<img src="/images/anna-sullivan-yxRYfsrdyWU-unsplash.jpg" class="pic img-fluid" style="object-fit:contain; width:70%; height: 300px;" alt=" ">

			<img src="/images/bench-accounting-nvzvOPQW0gc-unsplash.jpg" class="pic img-fluid" style="object-fit:contain; width:70%; height: 300px;" alt=" ">

			<img src="/images/chewy-KIqJfzbII9w-unsplash.jpg" class="pic img-fluid" style="object-fit:contain; width:70%; height: 300px;" alt=" ">

			<img src="/images/curology-6CJg-fOTYs4-unsplash.jpg" class="pic img-fluid" style="object-fit:contain; width:70%; height: 300px;" alt=" ">

		</div>
	</section>

	{# page utilisateur connecté #}
	{% if app.user %}
		<h2>
			Les posts que vous avez liké
		</h2>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for post in posts %}
				{% if app.user in post.likes %}

					<div class="col-md-3">
						<div class="card h-100">
							<img id="img_post" src="{{ uploaded_asset(post.imagePath) }}" class="card-img-top" alt="{{ post.name }} height=" 300" style=" border: solid 1px transparent; border-radius: 5px 20px 5px;"">


							<div class="card-body">
								<p class="card-title">
									<a class="navbar-brand" href={{ path('post_show', {'id': post.id} ) }}>Voir le détail</p>
								</p>
								<p class="text-center">
									{{post.description}}
								</p>

							</div>
						</div>
					</div>

				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
