
@import "~bootstrap";




body {
  background-color: #DBC5F8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: rgb(215,180,158);
background: linear-gradient(90deg, rgba(215,180,158,1) 12%, rgba(170,69,134,0.7679446778711485) 39%, rgba(220,96,46,1) 79%); */
}
.navbar {
  /* background-color: #7BC86D; */
padding-left:40px;
padding-right:40px;}

.container {background: #2E9C56;
border-radius: 15px;
margin: 20px auto;
padding-top: 30px;
padding-bottom: 50px;
padding-right: 50px;
padding-left: 50px;}

.tbody {margin-left: 20px;}

.leaflet-tile {
    filter: hue-rotate(160deg) !important;
    filter: saturate(3);

}

.btn {
  text-decoration: none;
  list-style: none;
}

.navbar-brand {color: black;}
.navbar-brand :hover {
color: #F55B2E;}

.btn-nav {
text-decoration: none !important;
color: black !important;

}

.btn-nav :hover {
  color: #F55B2E;
}

#img_post:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.td:hover {
  font-weight: bolder;
}

.container2 {display: flex;
margin-left:15px;}

h1 {color: #F55B2D;}

.card {background: #DBC5F8;}
.list-group-item {background: #DBC5F8;}


.container3 {
 background-color: #FCFE75 !important;
 border-radius: 15px;
margin: 20px auto;
padding-top: 30px;
padding-bottom: 50px;
padding-right: 50px;
padding-left: 50px;
width:90%;
}

.btn_post {
  background-color:#F55B2D;
  border: 1px solid transparent;
border-radius: 5px;
color:#DBC5F8;
font-weight: bolder;
margin-top: 20px;
padding: 5px 10px;}

.btn_post:hover {
  color:black;
}

section {display: flex;}

.post_list :hover {
  background-color : #DBC5F8;
}

.search_box {
  background: #2E9C56;
  display: flex;
}

.d-block {margin: 10px 100px;}

.container1 {background: #b9e6ed;
border-radius: 15px;
margin: 20px 200px;
padding-top: 30px;
padding-bottom: 50px;
padding-right: 50px;
padding-left: 50px;}

#mdp_forget:hover {
  font-weight: bolder;
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9e0e0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right:0;
}

.dropdown:hover .dropdown-content {
  display: block;
}