
@import "~bootstrap";




body {
  background-color: #DBC5F8;
  /* background: rgb(215,180,158);
background: linear-gradient(90deg, rgba(215,180,158,1) 12%, rgba(170,69,134,0.7679446778711485) 39%, rgba(220,96,46,1) 79%); */
}
.navbar {
  /* background-color: #7BC86D; */
padding-left:40px;
padding-right:40px;}

.container {background: rgba(255, 255, 255, 0.733);
border-radius: 15px;
margin: 20px auto;
padding-top: 30px;
padding-bottom: 50px;
padding-right: 50px;
padding-left: 50px;}

.tbody {margin-left: 20px;}

.leaflet-tile {
    filter: hue-rotate(160deg) !important;
    filter: saturate(3);

}

.btn {
  text-decoration: none;
  list-style: none;
}

.navbar-brand :hover {
color: #F55B2E;}

.btn-nav {
text-decoration: none !important;
color: black !important;

}

.btn-nav :hover {
  color: #F55B2E;
}

#img_post:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

