{% extends 'base.html.twig' %}

{% block title %}Nouvelle publication
{% endblock %}

{% block body %}
	<div class="container" style="display:flex; justify-content:space-between;">
		<div>
			<h1>Publier un objet abandonné</h1>

			{{ include('post/_form.html.twig') }}

			<a href="{{ path('post_index') }}">retour</a>
		</div>
		<div style="margin-left:80px;">
			<img src=" /images/kamran-abdullayev-G19xqFOVBwg-unsplash.jpg" class=" img-fluid w-50 h-auto" alt=" "></div>

	</div>
{% endblock %}
