{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
	<div style="margin-left:50px;">
		<h1>Modifier mon profil</h1>

		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="navbar-brand" href="{{ path('user_index') }}">

			<p class="pl-2 d-inline font-weight-bold;"></p>
			<strong>retour à la liste des posts</strong>

		</a>


		{# <a href="{{ path('user_index') }}">retour à la liste des posts</a> #}

		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
